<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><Company>XB</Company><Pages>12</Pages><Words>3062</Words><Characters>5114</Characters><Lines>216</Lines><Paragraphs>61</Paragraphs><TotalTime>42</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>5448</CharactersWithSpaces><Application>WPS Office_12.1.0.26895_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>